* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: center;
  width: 320px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 32px;
  width: 32px;
}

.hidden-grid {
  opacity: 0.5;
}

.occupied {
  border: 2px solid blue;
}

/* .grid div.pika {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
} */